#contact-form {
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputname {
  padding: 10px;
  margin: 10px;
  width: 250px;
  border: 1px solid black;
  font-weight: 800;
  font-size: large;
  background: transparent;
  border-radius: 5px;
  font-family: "Arial";
}

.inputemail {
  padding: 10px;
  margin: 10px;
  width: 250px;
  border: 1px solid black;
  background: transparent;
  border-radius: 5px;
  font-weight: 800;
  font-size: large;
  font-family: "Arial";
}

.inputemail::placeholder {
  color: rgb(27, 56, 83);
}

.inputname::placeholder {
  color: rgb(27, 56, 83);
}

.inputmessage::placeholder {
  color: rgb(27, 56, 83);
}

.inputmessage {
  padding: 10px;
  margin: 10px;
  width: 250px;
  border: 1px solid black;
  background: transparent;
  border-radius: 5px;
  font-weight: 800;
  font-size: large;
  font-family: "Arial";
}

.message-sent {
  position: relative;
  top: calc(100% + 20px);
  left: 0;
  width: 40%;
  border: 1px solid blue;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

#message-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  background-color: transparent;
  border: none;
}
