.info-contact-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 90px;
  font-family: "DM Sans", sans-serif;
}

.info-contact {
  background-color: rgba(29, 103, 163, 0.671);
  height: 400px;
  width: 350px;
  margin: 40px;
  border-radius: 10px;
  padding: 15px;
}

.message {
  background-color: rgba(29, 113, 192, 0.671);
  height: 400px;
  width: 350px;
  margin: 40px;
  border-radius: 10px;
  padding: 15px;
}

.section-name {
  font-size: 30px;
  font-weight: 800;
}

#contact-form {
  margin: 0;
}

.info-contact p {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 600;
}

.text-contact {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  .info-contact-message {
    display: block;
    font-family: "DM Sans", sans-serif;
  }

  .info-contact {
    background-color: rgba(29, 103, 163, 0.671);
    height: 400px;
    width: 75%;
    margin: 40px;
    border-radius: 10px;
    padding: 15px;
  }

  .message {
    background-color: rgba(29, 113, 192, 0.671);
    height: 400px;
    width: 75%;
    margin: 40px;
    border-radius: 10px;
    padding: 15px;
  }
}
