.app-footer {
height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  
}
.container-footer {
  display: flex;
  /* flex-direction: column; */
}
.copyright {
  align-self: center;
  justify-items: center;
  font-size: 10px;
  color: #fff;
  margin-top: 20px;
}
