.app-footer {
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.copyright {
  align-self: center;
  justify-items: center;
  font-size: 10px;
  color: #fff;
  margin-top: 20px;
}
