.app-header {
  background: rgb(54, 114, 192);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  flex: none;
}



.nav-button {
  
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Audiowide", sans-serif;
  color: black;
  text-decoration: none;
}

.nav-button:hover {
  border-bottom: 3px solid black;
  transition: all 0.2s ease-out;
}

.active {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  
  text-decoration: none;
  transition: all 0.4s ease;
  border-bottom: 2px solid black;

}
/* .navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%) !;
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-menu-image {
  width: 35px;
  height: 35px;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-logo-container {
  width: 50px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.active {
  position: fixed !important;
  width: 100%;
  transition: all 0.4s ease;
  background: var(--primary) !important;
  height: 70px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.logo-before-span {
  white-space: pre;
}

.logo-after-span {
  color: var(--third) !important;
  color: #fff !important;
}

.logo-after-span.active {
  color: #fff !important;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 70px;
}

.nav-links {
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
}

.nav-links.active {
  border-bottom: 5px solid var(--third);
  transition: all 0.2s ease-out;
  font-weight: 500;
}

.nav-links:hover {
  border-bottom: 5px solid var(--third);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
  }

  .nav-menu.active {
    backdrop-filter: blur(7px);
    background: #000000da;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-logo {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translate(-50%, -50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
} */
