.avatar-pic {
  width: 150px;
  height: 190px;
  border-radius: 100%;
}

.app-home {
  position: absolute;
  height: calc(100vh - (50px + 50px));
  width: 100%;
  min-width: 100%;
  margin-top: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.app-home p {
  padding: 5px;
  font-size: 25px;
  font-family: "Audiowide";
  font-weight: 700;
}
.icon-container > * {
  padding: 15px;
}

.icon-container {
  padding-bottom: 40px;
}

.parag {
  display: flex;
  justify-content: center;
}

.button-home {
  padding-top: 30px;
  color: black;
}

.ata {
  color: black;
}
