.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 90px;
}

.three-container {
  display: flex;
  margin: 50px;
  background-color: rgba(0, 89, 255, 0.575);
  border-radius: 20px;
}

.container-div {
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  padding: 60px;
  justify-content: right;
  text-align: center;
}

.text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.javascriptDiv {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.tech-skills {
  display: block;
  align-items: center;
  justify-content: right;
}

.skill-text {
  margin-right: 20px;
}

.html5 {
  color: rgb(227, 76, 38);
}

.css {
  color: rgb(38, 77, 228);
}

.javascript {
  color: rgb(240, 219, 79);
}

.react {
  color: rgb(97, 219, 251);
}

.github {
  color: rgb(173, 92, 81);
}

h2 {
  margin: 10px;
  font-family: "DM Sans", sans-serif;
}

h4 {
  font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 700px) {
  .three-container {
    display: block;
    margin: 50px;
    background-color: rgba(0, 89, 255, 0.575);
    border-radius: 20px;
    width: 80%;
  }

  .container-div {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
    justify-content: right;
    text-align: center;
  }
}
